$bg: #7ba5f3 !important;
$box-s: 0 0 10px 1px #572be650;
mat-toolbar {
  background: $bg;
  cursor: pointer;
  box-shadow: $box-s;
  .title {
    color: white;
  }

  span {
    margin-right: 20px;
  }
}
mat-toolbar button {
  align-items: center;
  border: none;
  background: $bg;
  display: grid;
  place-content: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  background: #4c7dd8 !important;
  margin-right: 10px;

  mat-icon {
    color: white;
  }
}
.example-spacer {
  flex: 1 1 auto;
}
